*
{
	padding: 0;
	margin: 0;
}

body
{
	width: 100%;
	font-family: "Helvetica";
}

header
{
	width: 100%;
	min-height: 80px;
	background-color: #0a96de;
	margin-top: -18px;
}

.header
{
	margin-right: auto;
	margin-left: auto;
	width: 320px;
}

.logo
{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	width: 320px;
}

.logo_img
{
	margin-bottom: 5px;
	margin-top: 10px;
	margin-right: 58%;
	margin-left: 42%;

}

.logo_name
{
	margin-top: 0px;
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 100;
	color: #f4f7fc;
	text-align: center;
	width: 90%;
}

.clearfix
{
	clear: both;
	height: 0px;
}

.conect
{
	border-top: 1px solid #027ebc;
	margin-right: 24%;
	margin-bottom: 10px;
}

.conect_text
{
	display: block;
	font-size: 13px;
	color: #f4f7fc;
	margin-top: 10px;
	float: left;
}

.head_fc, .head_google, .head_twit
{
	float: right;
	margin-top: 3px;
}

.headblock
{
	min-height: 1030px;
	width: 100%;
}

.welcome
{
	background-image: url(http://i11.pixs.ru/storage/6/5/4/background_4148250_18043654.png);
	min-height: 350px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.welcome_block, .about_block, .advantages_block
{
	width: 260px;
	margin-right: auto;
	margin-left: auto;
}

.welcome_block
{
	position: relative;
}

.welcome_text, .about_text
{
	width: 100%;
	text-align: center;
}

.welcome_text_1, .welcome_text_2
{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 600;
	color: #f4f7fc;
	display: block;
	margin-top: 30px;
}

.welcome_text_2
{
	font-size: 16px;
	text-transform: none;
	font-weight: 100;
	margin-top: 20px;
	line-height: 1.7;
}

.form
{
	position: absolute;
	width: 300px;
	height: 540px;
	background-color: #ffffff;
	z-index: 10;
	top: 210px;
	left: -8%;
	border-bottom: 4px solid #0a96de;
}



.about
{
	background-color: #f2f2f2;
	min-height: 720px;
	width: 100%;
	border: 2px solid transparent;
}

.about_block
{
	margin-top: 400px;
	display: block;
	min-height: 300px;
}


.advantages
{
	width: 100%;
	height: 1325px;
}

.advantages_block
{
	width: 320px;
}

.advantages_text, .feedback_text_1
{
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 100;
	color: #0a96de;
	display: block;
	text-align: center;
}

.advantages_column_1, .advantages_column_2, .advantages_column_3
{
	width: 100%;
	margin-bottom: 10px;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
}

.advantages_column_1_text
{
	width: 80%;
	margin-left: 15px;
}


.advantages_column_1
{
	margin-left: 0px;
}

.advantages_coltext_1, .advantages_coltext_2
{
	color: black;
	font-size: 13px;
	text-align: center;
	line-height: 1.5;
	word-wrap: break-word;
	display: block;
}

.advantages_coltext_2
{
	height: 130px;
}

.advantages_column_1 img, .advantages_column_2 img, .advantages_column_3 img
{
	margin-left: 5%;
	margin-bottom: 15px;
}

.advantages_coltext_1
{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 15px;
}

button
{
	border: transparent;
	background: transparent;
}

.advantages_butt 
{
	border: 1px solid #e7e7e7;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 50%;
	margin-left: 42%;
	margin-top: 10px;
}

.feedback
{
	min-height: 450px;
	width: 100%;
}

.feedback_block-text
{
	border-top: 2px solid #e7e7e7;
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}

.feedback_text_1
{
	float: left;
}

.feedback_text_2
{
	color: black;
	font-size: 13px;
	text-align: center;
	line-height: 1.5;
}

.feedback_button
{
	margin-top: 20px;
	margin-right: 38%;
}

.feedback_button_1, .feedback_button_2
{
	border: 1px solid #e7e7e7;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50%;
	font-size: 10px;
	color: #e7e7e7;
	font-weight: 800;
	background-image: url(http://i11.pixs.ru/storage/9/6/0/indexbutto_4822487_18091960.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.feedback_button_2
{
	background-image: url(http://i11.pixs.ru/storage/9/6/9/indexbutto_2742273_18091969.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.feedback_button_1:hover
{
	background-image: url(http://i11.pixs.ru/storage/8/1/7/indexbutto_2953534_18091817.png);
}

.feedback_button_2:hover
{
	background-image: url(http://i11.pixs.ru/storage/8/5/9/indexbutto_8342366_18091859.png);
}

.feedback_button_1:hover, .advantages_butt:hover, .feedback_button_2:hover
{
	background-color: #b7b7b7;
	color: black;
}

.feedback_text_q
{
	width: 100%;
}

.feedback_text_2:before
{
	content: "\201C";
	font-style: italic;
	color: #efefef;
	font-size: 50px;
	font-weight: 800;
	line-height: 1;
}

.feedback_text_2
{
	color: black;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.7;
	display: block;
	text-align: left;
}

.feedback_text_3
{
	color: black;
	font-size: 13px;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	display: block;
	text-align: right;
}

.feedback_text_3:after
{
	content: "\201d";
	font-style: italic;
	color: #efefef;
	font-size: 50px;
	font-weight: 800;
	line-height: 1.2;
}

.feedback_block-start
{
	width: 100%;
	background-color: #f2f2f2;
	min-height: 340px;
}

.feedback_start
{
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
}

.feedback_start_but
{
	position: relative;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 70px;
	padding-left: 70px;
	background-color: #f92027;
	text-transform: uppercase;
	font-weight: 100;
	color: white;
	margin-top: 200px;
	line-height: 1.4;
	z-index: 100;
}

.feedback_start_but:after
{
	content: "";
	background-color: #f92027;
	background-image: url(http://i11.pixs.ru/storage/6/2/2/indexright_6895366_18091622.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 25px;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 50%;
	color: white;
	z-index: 100;
}

.ph_student
{
	width: 100%;
	z-index: 0;
}

.ph_student_1
{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

.ph_student_boy
{
	position: absolute;
	left: 9%;
	top: -23px;
	z-index: 0;
}

.footer
{
	width: 100%;
	background-color: #0a96de;
	min-height: 195px;
}

.footer_block
{
	margin-right: auto;
	margin-left: auto;
	width: 260px;
}

.footer_block-logo
{
	margin-top: 20px;
	width: 67%;
	border-right: 1px solid transparent;
	margin-left: 15%;
}

.footer_logo_img
{
	margin-left: 42%;
}

.footer_logo_text
{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 100;
	color: #f4f7fc;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px; 
	display: block;
	border-bottom: 1px solid #027dbd;
}


.footer_block-contact
{
	margin-top: 10px;
	width: 90%;
	margin-bottom: 50px;
}

.footer_block-connect
{
	margin-bottom: 8px;
}

.footer_connect
{
	display: block;
	font-size: 13px;
	color: #f4f7fc;
	margin-top: 10px;
	margin-left: 12%;
}

.footer_fc, .footer_google, .footer_twit
{
	float: left;
}

.footer_connect-text, .footer-link
{
	font-size: 13px;
	color: #f4f7fc;
	text-decoration: none;
	text-align: center;
	display: block;
}